<%= form_with model: book do |form| %>
<div class="mb-3">
    <%= form.label :title, class: "form-label" %><br>
    <%= form.text_field :title, class: "form-control" %>
    <% blog.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %><br>
    <%= form.text_area :description, class: "form-control" %><br>
    <% blog.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>


  <div class="mb-3">
    <%= form.label :author, class: "form-label" %><br>
    <%= form.text_field :author, class: "form-control" %><br>
    <% blog.errors.full_messages_for(:author).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>


  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>

<% end %>