<h2>
  <div class="float-end">
    <%= link_to "Edit", edit_book_path(@book), class: "btn btn-primary" %>
    <%= link_to "Delete", book_path(@book), class: "btn btn-primary", data: {method: :delete, confirm: "Are you sure?"} %>
    <%= link_to "Back",book_path(@book), class: "btn btn-primary" %>
  </div>
</h2>
<hr>

<div class="row">
 <div class="col-md-6">
 	<div class="card-body">
  	<div class="book-title"><%= @book.title %></div>

 		<div class="card-title"><%= image_tag 'book1.jpg', alt: 'Image', class: "img-fluid" %>
 		</div>
   	<div class="book-author"><%= @book.author %></div>

 	</div>
 </div>
 <div class="col-md-6">
   <p><%= @book.description %></p>
 </div>
</div>
 <hr>


<style type="text/css">
	.book-title{
		position: relative;
    top: 120px;
    left: 95px;
    font-size: 9px;
	}
	.book-author{
		position: relative;
    bottom: 75px;
    left: 190px;
    font-size: 11px;
	}
</style>





